<!DOCTYPE html>
<html lang="en" ng-app="App">
<head>
    <script src="angular.min.js"></script>
    <script src="controller.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div ng-controller="Controller as ctrl">
        <h1>This is a barebones AngularJS project</h1>
            <p ng-repeat="item in ctrl.items">{{ item }}</p>
            <p ng-show="ctrl.text">{{ctrl.text}}</p>
        <div>
            <input type="text"
                ng-model="ctrl.text"
                placeholder="add some words here">
        </div>
        <div ng-show="ctrl.text">
            <span>input contains {{ ctrl.text.split(' ').length }} words</span>
            <button ng-click="ctrl.clear()">clear text</button>
        </div>
    </div>
</body>
</html>
